In Situ Transcription Profiling of Single Cells Reveals Spatial Organization of Cells in the Mouse Hippocampus

ShortName: Shah2016InSitu

Steps of processing the data from raw to Anndata:

In [1]:
# 1, Download the raw data from https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5087994/bin/NIHMS820662-supplement-7.xlsx

In [59]:
import scanpy as sc
import pandas as pd
import anndata as ad
import numpy as np
from numpy import count_nonzero

In [40]:
data_path = ''

In [41]:
meta_file = 'NIHMS820662-supplement-7.xlsx'

In [42]:
Counts = pd.read_excel(f'{data_path2}/{meta_file}',sheet_name='Hippocampus Counts',header=None)
Counts = Counts.T
New_count = 'new_count.xlsx'
Counts.to_excel(f'{data_path}/{New_count}')
Field_Vector = pd.read_excel(f'{data_path2}/{meta_file}',sheet_name='Field Vector',header=None).T
Centroids = pd.read_excel(f'{data_path2}/{meta_file}',sheet_name='Centroids',header=None)

In [43]:
Counts = pd.read_excel(f'{data_path}/{New_count}',header=1)

In [44]:
Counts

,0,'Tal1','Dmbx1','Emx2','Uncx','Paxip1','Ctnnb1','Prdm1','Rybp','Nfkb2',...,'acta2','alldh1l1','camk2','chat','cldn5','ngef','tiam1','slc1a2','gja1','fbll1'
0,1,34,14,29,17,31,85,28,30,24,...,32,37,56,28,18,20,28,54,11,30
1,2,18,15,23,6,36,50,25,43,18,...,14,25,16,25,11,9,14,13,6,27
2,3,15,11,32,3,42,72,13,34,0,...,28,21,46,32,15,21,29,47,13,31
3,4,21,20,29,6,44,76,23,29,17,...,13,20,57,32,19,19,30,38,8,41
4,5,17,1,8,14,15,80,18,28,8,...,18,37,48,46,16,14,24,44,16,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,3581,3,1,0,0,1,6,9,1,1,...,3,2,7,3,0,1,7,1,0,5
3581,3582,0,0,4,2,1,4,7,6,7,...,1,4,2,4,2,0,1,0,0,9
3582,3583,4,3,0,0,9,9,3,0,1,...,1,0,0,1,0,0,0,1,0,3
3583,3584,1,2,6,4,1,5,6,6,4,...,0,3,0,3,3,0,3,1,3,3
3584,3585,4,0,0,6,3,4,0,1,2,...,1,1,5,1,1,1,1,5,1,2

In [45]:
count_X = Counts.values[:,1:].astype('float32')

In [51]:
Field_Vector

       0
0     33
1     33
2     33
3     33
4     33
...   ..
3580  53
3581  53
3582  53
3583  53
3584  53

[3585 rows x 1 columns]

In [52]:
Field_Vector.columns = ['Field_Vector']

In [53]:
Field_Vector

      Field_Vector
0               33
1               33
2               33
3               33
4               33
...            ...
3580            53
3581            53
3582            53
3583            53
3584            53

[3585 rows x 1 columns]

In [54]:
Centroids

        0    1   2
0     490  760   2
1      98  532   3
2     872  570   3
3     936  590   3
4     432  722   3
...   ...  ...  ..
3580  625  306  26
3581  673   79  27
3582  609  179  27
3583  756   35  28
3584  693   68  30

[3585 rows x 3 columns]

In [55]:
Centroids.columns = ['X','Y','Z']

In [56]:
Centroids

        X    Y   Z
0     490  760   2
1      98  532   3
2     872  570   3
3     936  590   3
4     432  722   3
...   ...  ...  ..
3580  625  306  26
3581  673   79  27
3582  609  179  27
3583  756   35  28
3584  693   68  30

[3585 rows x 3 columns]

In [57]:
id_array = Counts.index

In [15]:
id_array

RangeIndex(start=0, stop=3585, step=1)

In [60]:
id_array_str = np.array(id_array).astype('str')

In [61]:
gene_id_array = Counts.columns

In [62]:
gene_id_array

Index([           0,     ''Tal1'',    ''Dmbx1'',     ''Emx2'',     ''Uncx'',
         ''Paxip1'',   ''Ctnnb1'',    ''Prdm1'',     ''Rybp'',    ''Nfkb2'',
       ...
          ''acta2'', ''alldh1l1'',    ''camk2'',     ''chat'',    ''cldn5'',
           ''ngef'',    ''tiam1'',   ''slc1a2'',     ''gja1'',    ''fbll1''],
      dtype='object', length=250)

In [63]:
gene_id_array = gene_id_array[1:]

In [64]:
gene_id_array

Index([''Tal1'', ''Dmbx1'', ''Emx2'', ''Uncx'', ''Paxip1'', ''Ctnnb1'',
       ''Prdm1'', ''Rybp'', ''Nfkb2'', ''Tfdp2'',
       ...
       ''acta2'', ''alldh1l1'', ''camk2'', ''chat'', ''cldn5'', ''ngef'',
       ''tiam1'', ''slc1a2'', ''gja1'', ''fbll1''],
      dtype='object', length=249)

In [65]:
count_X = Counts.values[:,1:].astype('float32')

In [66]:
adata = ad.AnnData(count_X)
adata.var_names = gene_id_array
adata.obs_names = id_array_str

In [67]:
adata.obs['Field_Vector'] = Field_Vector.loc[id_array].loc[:,'Field_Vector']

In [69]:
adata.obsm['spatial'] = Centroids.loc[id_array].loc[:,['X','Y','Z']].values

In [70]:
adata

AnnData object with n_obs × n_vars = 3585 × 249
    obs: 'Field_Vector'
    obsm: 'spatial'

In [71]:
save_path = ''

In [73]:
adata.write_h5ad(save_path)

In [74]:
#adata_load = sc.read_h5ad(save_path)

In [75]:
#adata_load

AnnData object with n_obs × n_vars = 3585 × 249
    obs: 'Field_Vector'
    obsm: 'spatial'

In [77]:
#A= adata_load.X

In [78]:
#A

array([[34., 14., 29., ..., 54., 11., 30.],
       [18., 15., 23., ..., 13.,  6., 27.],
       [15., 11., 32., ..., 47., 13., 31.],
       ...,
       [ 4.,  3.,  0., ...,  1.,  0.,  3.],
       [ 1.,  2.,  6., ...,  1.,  3.,  3.],
       [ 4.,  0.,  0., ...,  5.,  1.,  2.]], dtype=float32)