A Spatiotemporal Organ-Wide Gene Expression and Cell Atlas of the Developing Human Heart

ShortName: asp2019a

Steps of processing the data from raw to Anndata:

In [1]:
# 1, Download the raw data from https://www.spatialresearch.org/

In [2]:
import pandas as pd
import numpy as np
import scanpy as sc
import anndata as ad

In [3]:
path = '/home/yzy/PUBDT/st/Spatial_transcriptomics/asp2019a/file2/Filtered/filtered_ST_matrix_and_meta_data'

count_data = 'filtered_matrix.tsv'
meta_data = 'meta_data.tsv'

In [6]:
count_pd = pd.read_csv(f'{path}/{count_data}',delimiter='\t')

In [11]:
count_pd = count_pd.set_index('Unnamed: 0')

In [13]:
count_pd

,1x17x20,1x17x21,1x17x22,1x18x18,1x18x19,1x18x20,1x18x21,1x18x22,1x18x23,1x19x17,...,19x23x17,19x23x18,19x8x11,19x8x12,19x9x10,19x9x11,19x9x12,19x9x13,19x9x8,19x9x9
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
ENSG00000000003.14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000000005.5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000000419.12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000000457.13,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
ENSG00000000460.16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSG00000283684.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000283689.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000283692.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000283696.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000283698.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
meta_pd = pd.read_csv(f'{path}/{meta_data}',delimiter='\t')

In [9]:
meta_pd

,nGene,nUMI,Sample,weeks,ChipBatch,ChipNr,Experiment_date,Experiment_procedure,Sequencing_date,Raw_reads,new_x,new_y,percent.mito,res.0.8
1x17x20,666,1046,FH5_1000L3_CN20_C1,5,1000L3,CN20,151105,manual,151117,35432474,16.92,19.99,0.018164,0
1x17x21,891,1361,FH5_1000L3_CN20_C1,5,1000L3,CN20,151105,manual,151117,35432474,17.06,20.95,0.007348,2
1x17x22,1138,1878,FH5_1000L3_CN20_C1,5,1000L3,CN20,151105,manual,151117,35432474,17.02,22.02,0.007455,0
1x18x18,766,1170,FH5_1000L3_CN20_C1,5,1000L3,CN20,151105,manual,151117,35432474,17.99,18.00,0.021368,4
1x18x19,536,820,FH5_1000L3_CN20_C1,5,1000L3,CN20,151105,manual,151117,35432474,17.95,18.99,0.014634,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19x9x11,1133,2330,FH9_1000L3_CN31_E2,9,1000L3,CN31,151105,manual,160111,83186609,8.92,11.08,0.019313,3
19x9x12,865,1599,FH9_1000L3_CN31_E2,9,1000L3,CN31,151105,manual,160111,83186609,8.98,12.01,0.023139,0
19x9x13,1265,2897,FH9_1000L3_CN31_E2,9,1000L3,CN31,151105,manual,160111,83186609,8.88,13.01,0.018985,1
19x9x8,1343,2594,FH9_1000L3_CN31_E2,9,1000L3,CN31,151105,manual,160111,83186609,8.95,8.02,0.014649,3
19x9x9,1474,2971,FH9_1000L3_CN31_E2,9,1000L3,CN31,151105,manual,160111,83186609,8.93,9.04,0.024907,1

In [14]:
X = count_pd.values.transpose()
gene_list = list(count_pd.index)
spot_list = list(count_pd.columns)

adata = ad.AnnData(X)
adata.obs_names = spot_list
adata.var_names = gene_list

/tmp/ipykernel_1049971/1803726343.py:5: FutureWarning: X.dtype being converted to np.float32 from int64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = ad.AnnData(X)

In [16]:
meta_pd = meta_pd.loc[spot_list]

In [18]:
meta_pd[['nGene']]

         nGene
1x17x20    666
1x17x21    891
1x17x22   1138
1x18x18    766
1x18x19    536
...        ...
19x9x11   1133
19x9x12    865
19x9x13   1265
19x9x8    1343
19x9x9    1474

[3111 rows x 1 columns]

In [19]:
for c in meta_pd.columns:
    adata.obs[c] = meta_pd[['nGene']].values

In [21]:
adata.obsm['spatial'] = np.vstack([adata.obs['new_x'],adata.obs['new_y']]).transpose()

In [22]:
adata.write_h5ad()

array([[ 666,  666],
       [ 891,  891],
       [1138, 1138],
       ...,
       [1265, 1265],
       [1343, 1343],
       [1474, 1474]])